<tr>
  <td> <%= tire_line_item.units %></td>
  <td> <%= tire_line_item.unit_amount %></td>
  <td> <%= tire_line_item.tire_type %></td>
  <td> <%= pretty_tire_size(tire_line_item.tire_size.size)%></td>
  <td> <%= tire_line_item.total_amount %></td>
  <td>
    <% unless @log.summarize? %>
      <%= link_to(
        "delete",
        logs_tire_line_item_path(tire_line_item, log_id: @log.id),
        method: :delete
      )%>
    <% end %>
  </td>
</tr>
