<%= form_for @log, url: logs_tire_line_items_path, as: :log, method: :post do |f| %>
  <%= f.fields_for :tire_line_item do |tli| %>
    <td id="unit">
      <%= tli.number_field :units, min: 1, class: ["form-control"], data: ["item-row"] %>
    </td>
    <td id="amount">
      <%= tli.number_field :unit_amount,
        class: ["form-control"],
          placeholder: "$",
          data: ['item-row']
      %>
    </td>
    <td>
      <%= tli.select 'tire_type',
        options_for_select(["new", "used"]),
        {},
        {class: ["form-control"], data: ['item-row']} %>
    </td>
    <td id="tire_sizes"><%= tli.text_field(:size)%></td>
    <%= hidden_field_tag :log_id, @log.id %>
    <td data="item-row">
      <%= tli.number_field(
        :total_amount,
        class: ["form-control"],
        placeholder: "$"
      )%>
    </td>
    <td><%= tli.submit("add", id: :add_tli, class: [:btn]) %></td>
  <% end %>
<% end %>
