<div class="top-page">
  <h2> <%= local_date(@log.created_at)%> </h2>
</div>

<%= button_to 'Back', logs_path, class: ["btn-sm", :btn, "pull-right"] %>
<div class="inner-content">
  <h3> Tires </h3>

  <table class='table table-hover table-condensed table-bordered'>
    <thead>
      <tr>
        <th> Quantity </th>
        <th> Cost of each </th>
        <th class="mdl-data-table__cell--non-numeric"> New or Used </th>
        <th> Tire Size </th>
        <th> Total </th>
        <th class="snugfit"> </th>
      </tr>
    </thead>
    <tbody>
      <% if @log.tire_line_items.any? %>
        <%= render(
          partial: "logs/tire_line_items/tire_line_items",
          collection: @log.tire_line_items,
          as: :tire_line_item
        )%>
      <% end %>
      <tr>
        <% unless @log.summarize? %>
          <%= render partial: "logs/tire_line_items/tire_line_item_form" %>
        <% end %>
      </tr>
    </tbody>
  </table>

  <section>
    <h3> Labor Work</h3>
      <table class='table table-hover table-condensed table-bordered'>
      <thead>
        <th>amount</th>
        <th>description</th>
        <th class="snugfit"> </th>
      </thead>
      <tbody>
        <% if @log.labor_line_items.any? %>
          <%= render(
            partial: "logs/labor_line_items/labor_line_items",
            collection: @log.labor_line_items,
            as: :li
          )%>
        <% end %>
        <%= render partial: "logs/labor_line_items/labor_line_item_form" %>
      </tbody>
    </table>
  </section>
  <tfoot>
    <%= render partial: "logs/tire_line_items/log_summarize" %>
  </tfoot>
<div>
