<%= javascript_include_tag "logs" %>
<div class="top-page">
  <h2> <%= local_date(@log.created_at)%> </h2>
</div>

<%= link_to 'Back', logs_path %><div class="inner-content">
  <table class='mdl-data-table mdl-js-data-table'>
    <thead>
      <tr>
        <th> Quantity </th>
        <th> Cost of each </th>
        <th class="mdl-data-table__cell--non-numeric"> New or Used </th>
        <th> Tire Size </th>
        <th> Total </th>
        <th> </th>
      </tr>
    </thead>
    <tbody>
      <% if @log.tire_line_items.any? %>
        <% @log.tire_line_items.each do |tli| %>
          <tr>
            <td> <%= tli.units %></td>
            <td> <%= tli.unit_amount %></td>
            <td> <%= tli.tire_type %></td>
            <td> <%= pretty_tire_size(tli.tire_size.size)%></td>
            <td> <%= tli.total_amount %></td>
            <td>
              <% unless @log.summarize? %>
                <%= link_to("delete", logs_tire_line_item_path(@log, log_id: @log.id, tli_id: tli), method: :delete)%>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
      <tr>
        <% unless @log.summarize? %>
          <%= form_for @log, url: logs_tire_line_items_path, as: :log, method: :post do |f| %>
            <%= f.fields_for :tire_line_item do |tli| %>
              <td id="unit"><%= tli.number_field :units, min: 1 %></td>
              <td id="amount">$<%= tli.number_field :unit_amount %></td>
              <td>
                <%= tli.select 'tire_type',
                  options_for_select(["new", "used"]) %>
              </td>

              <%= tli.fields_for :tire_size do |ts| %>
                <td id="tire_sizes">
                  <%= ts.text_field(:size , data: {
                    href: sizes_logs_tire_line_items_tire_sizes_path(format: :json)},
                    class: "typeahead")
                  %>
                </td>
              <% end %>
              <%= hidden_field_tag :log_id, @log.id %>
              <td> $<%= tli.number_field :total_amount %></td>
              <td><%= tli.submit("add", id: :add_tli) %></td>
            <% end %>
          <% end %>
        <% end %>
      </tr>
    </tbody>
  </table>
  <tfoot>
    <% if @log.summarize? %>
      <% tire_line_items = @log.tire_line_items %>
      <tr>
        <td> Number of Tires sold: </td>
        <td>
          <%= tire_line_items.sum(&:units) %>,
        </td>
        <td> <%= tire_line_items.number_of_new %> New And </td>
        <td> <%= tire_line_items.number_of_used %> Used </td>
      </tr>
      <tr>
        <td> Total amount:</td>
        <td>
          <%= tire_line_items.to_a.sum(&:total_amount) %>
        </td>
      </tr>
    <% else %>
     <td>
       <%= link_to "Done For Today", log_update_for_summary_path(@log), method: :put %>
     </td>
  <% end %>
  </tfoot>
<div>

<script type="text/javascript">

</script>
