<!DOCTYPE html>
<html>
<head>
  <title>Accounts</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<!-- Always shows a header, even in smaller screens. -->
<div>
  <header>
  <%= nav_bar static: :top , brand: "ELog", responsive: true  do %>
    <%= menu_group pull: :right do %>
      <% if current_user %>
        <%= drop_down "#{current_user.name}" do %>
          <%= menu_item "Log out", logout_path %>
        <% end %>
      <%else%>
        <%= menu_item "Sign Up", signup_path %>
        <%= menu_item "Login"  , login_path %>
      <% end %>
    <% end %>
  <% end %>
    <!-- Tabs -->
  <% if current_user %>
    <%= nav_bar responsive: true  do %>
      <%= menu_group pull: :left do %>
        <%= menu_item "Today", today_logs_path %>
        <%= menu_item "Logs", logs_path %>
        <%= menu_item "Records", records_path %>
      <% end %>
    <% end %>
  <% end %>
  </header>

  <div class="page-content">
    <div class="container">
      <body>
        <%= bootstrap_flash(class: "extra-class", id: "your-id") %>
        <%= yield %>
      </body>
    </div>
  </div>
</div>
</html>
